<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Items
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <main>
        {% block content  %}
        {% endblock  %}
    </main>
</body>
</html>